.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

.keyboardDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.calculatorContainer {
  border: 1px black;
  border-style: solid;
  width: 500px;
  overflow-wrap: break-word;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.displayDiv {
  display: flex;
  text-align: end;
  border: 2px grey;
  border-style: solid;
  border-radius: 6px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 10px;
  overflow: auto;
}

.calculatorKey {
  font-size: 75px;
  margin: 4px;
  border-radius: 6px;
}

.calculatorKeyEqual {
  background-color: grey;
  border-radius: 6px;
  margin: 4px;
  font-size: 75px;
}

.calculatorKeyDel {
  background-color: lightcoral;
  margin: 4px;
  border-radius: 6px;
  font-size: 75px;
}
